// COLOR VARIABLES
$bg-color:    rgb(211, 211, 211)
$font-color:  #C3C1C1

// MIXINS
@mixin horizontal-style
  margin: auto

@mixin progress-font
  font-family: sans-serif
  color: #C3C1C1

// RULES
html, body, .lightbox-wrapper
  height: 100%

body
  background-color: $bg-color
  .lightbox-wrapper
    position: relative
    .lightbox
      // CENTERING - VERTICAL & HORIZONTAL
      position: absolute
      top: 50%
      left: 50%
      // Include Reset Button as part of lightbox
      height: 300px
      margin-left: -15%
      margin-top: -150px

      // For modern non-IE-8-ish things
      opacity: 0
      width: 30%
      // margin: auto
      .reset
        @include horizontal-style
        width: 10%
        padding: 2em
        display: table
        button
          padding: 1em
      .header
        height: 2em
        font-size: 1.5rem
        @include progress-font
        background-color: grey
        padding: 0.2em
        .title
          float: left
        .dismiss
          float: right
          width: 5%
      .progress
        clear: both
        padding: 1em
        background-color: white
        height: 5em
        .progress-bar
          margin: 1em auto
          width: 50%
          height: 1em
          background-color: white
          border-style: solid
          border-width: thin
          .progress-meter
            width: 0%
            height: 100%
            background-color: blue
        .progress-message
          font-size: 1.2em
          @include progress-font
          text-align: center
          padding: 0.4em 0
